    <div id="linkBanner" class="linkbanner">
        <a href="{{ url_for('tv') }}">
            <img src="{{ url_for('static', filename='img/TV.gif') }}" alt="TV Logo" width="100px" height="100%" />
        </a>
        <a href="{{ url_for('mtv') }}">
            <img src="{{ url_for('static', filename='img/mtv2.gif') }}" alt="MTV Logo" width="100px" height="100%" />
        </a>
        <a href="{{ url_for('info') }}">
            <img src="{{ url_for('static', filename='img/info.gif') }}" alt="Info" width="80px" height="100%" />
        </a>
        <a href="{{ url_for('links') }}">
            <img src="{{ url_for('static', filename='img/links.gif') }}" alt="Links" width="200px" height="100%" />
        </a>
        <a href="mailto:stalldyr@gmail.com">
            <img src="{{ url_for('static', filename='img/e-mail.gif') }}" alt="E-post" width="70px" height="100%" />
        </a>
    </div>