<!DOCTYPE html>
<html lang="no" xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="nostalgisk tv, linjær tv, klassisk tv, gamle tv programmer, retro tv, norsk tv historie" />
    <meta name="description" content="Gjenopplev TV-programmer fra perioden etter tusenårsskiftet" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/TV_favicon.ico') }}">
    
    <title>
      {% block title %}Linjær-TV{% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/mouseBubbles.js') }}"></script>

    {% block head %}{% endblock head %}
  </head>

  <body>
    <div class="sidenav">
      <a href="{{ url_for('index') }}">Hjem</a>

      <a href="{{ url_for('tv') }}">
        TV-stream
      </a>
      <a href="{{ url_for('tvguide') }}">
        TV-guide
      </a>
      <!--
      <a href="{{ url_for('mtv') }}">
        MTV
      </a>
      <a href="{{ url_for('chat') }}">
        Chat
      </a>
      <a href="{{ url_for('info') }}">
        Info
      </a>
      <a href="{{ url_for('links') }}">
        Lenker
      </a>
      -->
      <a href="mailto:stalldyr@proton.me">
        E-post
      </a>
    </div>

    <div class="main">
      {% block content %}
      
      {% endblock content %}
    </div>
  
    {% block scripts %}
    
    {% endblock scripts %}
  </body>
</html>
