{% extends "base.html" %}

{% block head %}
{% endblock head %}

{% block content %}
<h1 class="mainheader">TV-STREAM</h1>

<video id="tvPlayer" width="75%" height="auto" autoplay>
    <source type="video/mp4">
    Your browser does not support the video tag.
</video>
<button id="fullscreenBtn">Fullskjerm</button>

<div id="info">
    <h2 id="programTitle"></h2>
    <p id="programTime"></p>
    <p id="programDescription"></p>
    <p id="nextProgram"></p>
</div>

<div id="dailySchedule">

</div>

{% endblock content %}

{% block scripts %}
<script src="static/scripts/tvStream.js"> </script>

{% endblock scripts %}