
.program-form,
.schedule-form {
    display: none;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    background: aliceblue;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    overflow: auto;
    box-sizing: border-box;
    min-width: 500px; 
    max-width: 90%;
}

.form-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.column {
    float: left;
    width: 45%;
    padding: 10px 10px;;
}



.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-buttons {
  margin-top: 15px;
  text-align: right;
}

.form-buttons button {
  margin-left: 2px;
  padding: 8px 15px;
  font-size: 12px;
}

.save-btn {
    background-color: #008080;
    color: white;
}

.delete-btn {
    background-color:#1d6875;
    color: #bdfff4;
}

.cancel-btn {
    background-color: #ccc;
    color: black;
}

input[type="radio"] {
  display: inline;
}

button {
  background-color:#1d6875;
  color: #bdfff4;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.mini-button {
  font-size: 8px;
  padding: 6px 12px;
  border-radius: 10px;
}