
@font-face {
  font-family: 'DigitLoFi';
  src: url('../fonts/DIGILFS_.TTF') format('truetype'),;
}

@font-face {
  font-family: 'Digifit';
  src: url('../fonts/DIGIFIT.TTF') format('truetype');
}

@font-face {
  font-family: 'PlanetKosmos';
  src: url('../fonts/PLANK___.TTF') format('truetype');
}

@font-face {
  font-family: 'Excelerate';
  src: url('../fonts/excelate.ttf') format('truetype');
}

/* General */
body {
    background-image: url('../img/bg-037.jpg');
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1d6875;
}

.main {
    margin-left: 15%;
    margin-right: 10%;
    padding: 20px;
    overflow: auto;
}

.main h1 {
    font-family: 'Excelerate';
    padding: 20px;
    font-size: 2.5em;
    color: #1d6875;
    text-align: center;
    margin-bottom: 10px;
}

li {
    margin-bottom: 10px;
    color: #1d6875;
}


/* Side-navigator */

/* The navigation menu links 
  background: #97b398;
  a: b0ff1f
  a:hover: 87cf00
*/

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: #61a3af; /* #008080; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border: 2px solid #c0c0c0;
}

.sidenav h1 {
  color: #f1f1f1;
  padding-left: 32px;
  font-size: 2em;
  margin-bottom: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #d5f7ff;
  display: block;
  transition: 0.3s;
  font-family: "Excelerate"
}

.sidenav a:hover {
  color: #83e8ff;
}

/* Index */

.indexmain {
  margin-right: 25%;
}

.linkbanner {
  background: #d5f7ff;
  padding: 8px 8px 8px 8px;
  border: 2px solid #c0c0c0;
}

.linkbanner img {
  transition: 0.3s;
}

.linkbanner img:hover {
  transform: rotate(10deg);
}

.webamp-container { 
    right:0;
    top:250px;
    position: fixed;
}


/* TV-guide */


.now-playing {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    background: #800000;
    padding: 10px;
}




/* TV-guide */


.tv-guide {
    border: 2px solid #c0c0c0;
    background: #008080;
    padding: 15px;
    margin: 20px 0;
}